
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  padding: 1.5rem 1rem;
}

.filter {
  cursor: pointer;
}

.filter.toggled {
    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc;

  .fa-sort-up {
    display: block;

    
    @media (max-width: 991.98px) {
      display: none;
    }
  }
}

// Table
.table {

  thead th {
    position: relative;
  }

  tr {
    cursor: pointer;
  }
}

.fa-sort-up {
  position: absolute;
  top: 14px;
  font-size: 29px;
  right: 15px;
  display: none;
}

tbody {
  img {
    // width: 30%;
    width: 134px;
    height: 82px;
  }
}

/* dropzone in form */
#dropzone {
  position: relative;
  border: 5px dotted #cabfbf;
  border-radius: 5px;
  color: #8e7777;
  font: bold 24px/200px arial;
  height: 200px;
  margin: 30px auto;
  text-align: center;
  width: 100%;
}

#dropzone.hover {
  border: 10px solid #3490dc;
  color: #3490dc;
}

#dropzone.dropped {
  background: #222;
  border: 10px solid #444;
}

#dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#dropzone img {
  border-radius: 10px;
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
}

#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Actor */
.actor {
  .actor-sidebar {
    border: 2px solid #6c757d;
  }

  .sidebar-inner {
    padding: 20px;

    p {
      margin:0;
      padding:0;
    }
  }
}

/* Movie */
.movie {
  .movie-sidebar {
    border: 2px solid #6c757d;
  }

  .sidebar-inner {
    padding: 20px;

    p {
      margin:0;
      padding:0;
    }
  }
}

/* Comments */
.comment {
  margin-top: 15px;
}

.thumbnail {
  padding:0px;
}
.panel {
  position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}

.rating,
#movie_rating_label {
  font-size: 30px;
}

#movie_rating_label {
  padding-left: 10px;
}

.submit-button {
  width: 100%;
}