
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  padding: 1.5rem 1rem;
}

.filter {
  cursor: pointer;
}

.filter.toggled {
    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc;

  .fa-sort-up {
    display: block;
  }
}

// Table
.table thead th {
  position: relative;
}

.fa-sort-up {
  position: absolute;
  top: 14px;
  font-size: 29px;
  right: 15px;
  display: none;
}

#movie-results {
  img {
    // width: 30%;
    width: 134px;
    height: 82px;
  }
}
